.track-progress {
    padding: 20px;
  }
  
  .track-progress h1,
  .track-progress h2 {
    color: #003366;
  }
  
  .track-progress ul {
    list-style-type: none;
    padding: 0;
  }
  
  .track-progress li {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
  }
  